@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  scroll-behavior: smooth;
  animation: fadeIn 1s alternate;
  background-color: rgb(7, 7, 7);
}

@keyframes fadeIn {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fadeInExtreme {
  0% {
    filter: grayscale(1);
    opacity: 0;
    transform: scale(0.2);
  }
  100% {
    filter: grayscale(0);
    opacity: 1;
    transform: scale(1);
  }
}
*::-webkit-scrollbar {
  display: none;
}

nav {
  width: 100%;
  height: 10vh;
  padding: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(7, 7, 7);
  color: rgb(255, 255, 255);
}
nav a {
  text-decoration: none;
  color: rgb(187, 179, 179);
}
nav .active {
  color: rgb(255, 255, 255);
}
nav a:hover {
  filter: contrast(1.1);
  text-shadow: 0px 0px 0px #2347c0, 0px 10px 10px rgb(13, 101, 233);
  transform: scale(1.1);
  transition: 0.3s ease-out;
}
nav a:not(:hover) {
  text-shadow: -1px -1px 3px #2347c0, 1px 2px 4px #d21717;
  filter: contrast(1);
  transform: scale(1);
  transition: 0.3s ease-out;
}

.main-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
  margin-top: 5%;
  gap: 50px;
}
.main-container .main-div {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.main-container .main-div h4 {
  color: rgb(187, 179, 179);
}
.main-container .main-div h1 {
  font-size: 3.5rem;
}
.main-container .worksContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
}
.main-container .worksContainer .workTab {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: center center;
  background-blend-mode: darken;
  width: 30%;
  aspect-ratio: 1;
  background-color: rgb(226, 219, 219);
  animation: fadeInExtreme 0.75s alternate ease-in-out;
  transition: all 0.4s;
  text-decoration: none;
}
.main-container .worksContainer .workTab .texts {
  width: 100%;
  text-align: center;
  background-color: black !important;
}
.main-container .worksContainer .workTab .texts p {
  font-size: 1rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.main-container .worksContainer .workTab:hover {
  filter: contrast(1.1);
  text-shadow: 0px 0px 0px #2347c0, 0px 10px 10px rgb(13, 101, 233);
  transform: scale(1.1);
  transition: 0.3s ease-out;
}
.main-container .worksContainer .workTab:not(:hover) {
  text-shadow: -1px -1px 3px #2347c0, 1px 2px 4px #d21717;
  filter: contrast(1);
  transform: scale(1);
  transition: 0.3s ease-out;
}

@media screen and (orientation: portrait) {
  .main-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
    margin-top: 5%;
    gap: 50px;
  }
  .main-container .main-div {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .main-container .main-div h4 {
    color: rgb(187, 179, 179);
    font-size: 0.75rem;
  }
  .main-container .main-div h1 {
    font-size: 2.5rem;
  }
  .main-container .worksContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;
  }
  .main-container .worksContainer .workTab {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    background-blend-mode: darken;
    width: 80%;
    aspect-ratio: 1;
    background-color: rgb(226, 219, 219);
  }
  .main-container .worksContainer .workTab .texts {
    width: 100%;
    text-align: center;
    background-color: black !important;
  }
  .main-container .worksContainer .workTab .texts p {
    font-size: 0.5rem;
    text-decoration: none;
    font-weight: 700;
    color: rgb(255, 255, 255);
  }
  .main-container .worksContainer .workTab:hover {
    filter: contrast(1.1);
    text-shadow: 0px 0px 0px #2347c0, 0px 10px 10px rgb(13, 101, 233);
    transform: scale(1.1);
    transition: 0.3s ease-out;
  }
  .main-container .worksContainer .workTab:not(:hover) {
    text-shadow: -1px -1px 3px #2347c0, 1px 2px 4px #d21717;
    filter: contrast(1);
    transform: scale(1);
    transition: 0.3s ease-out;
  }
}/*# sourceMappingURL=worksStyles.css.map */